#agentops==0.1.6
#crewai
# Django==5.0.4
Django==5.0.7
djangorestframework==3.15.1
docstring-parser==0.15
elastic-transport==8.13.0
elasticsearch==8.14.0
huggingface-hub==0.22.2
langchain==0.2.1
langchain-community
langchain-core
#langchain-openai==0.0.5
#langchain-text-splitters==0.0.1
langchainhub
langfuse
pymisp==2.4.190
python-dotenv==1.0.0
mitreattack-python==2.0.14
stix==1.2.0.11
stix2==3.0.1
stix2-elevator==4.1.7
stix2-patterns==2.0.0
stix2-validator==3.2.0
taxii2-client==2.3.0
gunicorn==22.0.0
